html, body {
    font: 14px "Open Sans";
    margin: 0px;
    min-height: 100%;
    min-width: 500px;
    width: 100%;
}

.hidden { display: none; }

body.home {
    background-image: url("r/cover.jpg");
    background-size: cover;
}

header {
    border-bottom: 3px solid #24c;
    margin-bottom: 20px;
    padding: 10px 0px 10px 50px;
}

.home header {
    border: none;
    margin-top: 20px;
}

header h1 {
    display: inline;
    margin-right: 40px;
}

h1 {
    color: #222;
    font: italic 700 24px "Raleway";
}

.home h1 {
    color: white;
    font: italic 700 48px "Raleway";
}

.menu div {
    margin-bottom: 8px;
}

.menu a {
    background: #eee;
    color: black;
    display: inline-block;
    font: 18px "Raleway";
    left: 100px;
    padding: 8px 15px;
    position: relative;
    text-decoration: none;
    top: 100px;
}

.menu a:hover {
    background: #dee;
    text-decoration: underline;
}

a.new {
    border: 1px solid #999;
    border-radius: 5px;
    color: black;
    display: inline-block;
    font-size: 16px;
    margin: 0px 10px 10px 10px;
    padding: 7px 10px;
    text-decoration: none;
}

form {
    margin: auto;
    max-width: 800px;
    width: 90%;
}

input, textarea, select {
    margin-bottom: 20px;
    margin-left: 10px;
    vertical-align: baseline;
}

input[type="submit"] {
    border: 1px solid #999;
    border-radius: 5px;
    color: black;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 10px 10px 10px;
    padding: 7px 10px;
}

textarea {
    vertical-align: middle;
}